@import 'variables';

.card {
  background-color: $cardColor;
  height: 50vh;
  width: 70vw;
  //border-radius: 4em;
  border: solid 1px $cardBorder;
  margin: 10vh 10vw 0 10vw;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.cardText{
  cursor: pointer;
  background-color: $pointsBox;
  border: 1px solid $cardBorder;
  padding: 1em;
}

.cardText:hover{
  background-color: $hoverColor;
  color: $lbBorder;
  border-color: $lbBorder;
}

.cardDare{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-self: center;
  font-weight: 1000;
  //padding: 12vh 0 0 25vw;
}

.cardDrink{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-self: center;
  font-weight: 1000;
 // padding: 15vh 0 0 25vw;
}

.points{
  font-family: inherit;
  background-color: $pointsBox;
  color: rgb(37, 22, 22);
  cursor: pointer;
  width: 10em;
  height: 5em;

  
  margin: 0 0 0 15vw;

  border: 1px solid #000000;
  //border-radius: 2em;
  font-weight: 800;

  position: absolute;
}

#or{
  display: flex;
  justify-content: space-around;
}

#name{
 // background-color: #a9a9a9;
  display: flex;
  justify-content: center;
  margin: 0;
}

