@import 'variables';

body{
  font-family: 'Courier Prime', monospace;
  background-color: $backgroundColor;
}

.container{
  display: flex;
  justify-content: flex-start;
}

.header{
    justify-content: center;
    border-bottom: $lbBorder solid 2px;
    padding: 0.3em 0 0.2em 31vw;
    margin: 0 0 0 0;
}