@import 'variables';

.inputBox{
    background-color: $cardColor;
    height: 50vh;
    width: 70vw;
    border-radius: 4em;
    margin: 10vh 0 0 10vw;

    border: solid 1px $cardBorder;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

input{
    background-color: $inputBox;
    border: solid 0.1em $inputBoxBorder;
    border-radius: 0.4em;
    color: black;
    font-family: inherit;
}

.form{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
    background-color: $pointsBox ;
    cursor: pointer;

    font-family: inherit;

    border-radius: 1em;
    border: 0.05em solid $cardBorder;
}

.button:disabled{
    background-color: $disabledButton;
    color: grey;
    cursor: default;
}

.addPlayer{
   color: black;
   width: 2em;
   height: 2em;
   margin-left: 0.2em;
   border-radius: 4em;
   font-size: x-large;
}

.letsPlay{
    color: black;
    width: 20em;
    height: 5em;

    display: flex;
    align-self: center;
}

.headerForm{
    display: flex;
    justify-content: center;
}

