@import url("https://fonts.googleapis.com/css?family=Courier+Prime&display=swap");

/* colors */
$backgroundColor: #66ABAD;

$disabledButton: #f88f69 ;
$inputBox: #f88f69;
$inputBoxBorder: #AD5F42;

$hoverColor: #FF7A4A;
$buttonColor: #f76530;

$cardColor: #ee825b;
$cardBorder: #6b331f;

$pointsBox: #f76530;

$playerBox: #ff7f50;
$playerBorder: #6b331f;

$bg-leaderboard: #508587;
$lbBorder: rgba(66, 60, 60, 0.4);


